@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewBold-Obl.woff');
    font-weight: 700;
}
 @font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi-Obl.woff');
    font-weight: 500;
}
 @font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewBook-Obl.woff');
    font-weight: 400;
}
 @font-face {
    font-family: 'SchoolBook';
    src: url('../fonts/schoolbook-bold-cyrillic_[allfont.ru].ttf');
    font-weight: 700;
}
 @font-face {
    font-family: 'SchoolBook';
    src: url('../fonts/schoolbook-cyrillic_[allfont.ru].ttf');
    font-weight: 400;
}

