html {
    font-size: calc(100vh / 100);
    font-size: 10.34px;

}

body {
    font-size: 30px;
}
* {
    box-sizing: border-box;
}
.container {
    // max-width: 1254px;
    padding: 0 15px;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
}
ul {
    padding-inline-start: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}