.about-us {
    background: #FBF8F8;
    padding: 108px 0;
    
    &__wrapper {
        max-width: 1253px;
        margin: 0 auto;
    }

    &__content {
        max-width: 509px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 48px;
        font-family: 'SchoolBook';
        font-style: normal;
        font-weight: 400;
        @include fluidFontSize(20px, 40px, 320px, 1920px, 40px);
        line-height: 40px;
        text-align: center;
        color: $text;

    }

    &__descr {
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 400;
        @include fluidFontSize(15px, 20px, 320px, 1920px, 20px);
        font-size: 20px;
        line-height: 30px;
        color: $brow;
    }

    &__more {

        display: block;
        margin: 36px auto 100px auto;
        max-width: 200px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        @include fluidFontSize(15px, 20px, 320px, 1920px, 20px);
        line-height: 20px;
        color: $orange;
    }
}
.about-us-slider {
    margin: 0 auto;
    width: 100%;
    &__shell{
        display: flex;
        justify-content: space-around;
        // position: relative;
        padding: 0 15px;
    }

    &__wrapper {
        

    }

    &__block {
        width: 178px;
        height: 178px;
        // width: 14%;
        // height: 14%;
        border-radius: 50%;
        overflow: hidden;
    }

    &__link {
        img {
            width: 100%;
        }
    }

    &__prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border: none;
        width: 40px;
        height: 40px;
        background: url(../../assets/icon/prev.svg) center (center /cover) no-repeat;
    }

    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        border: none;
        width: 40px;
        height: 40px;
        background: url(../../assets/icon/next.svg) center (center /cover) no-repeat;
    }
}
@media (max-width: 650px) {
    .about-us {
        padding: 50px 0;
    }
    .about-us__title {
        margin-bottom: 28px;
    }
    .about-us__more {
        margin: 36px auto 50px auto;
    }
}