.header {
    padding: 3.38% 4.16% 0 4.16%;

    &__slider {
        margin-top: clamp(40px, 8.42vw, 80px);
        display: flex;
        justify-content: space-between;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        img {
            width: 79px;
            height: 62px;
        }
    }

    &__body {
        width: 80.96%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__list {
        width: 69%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        @include fluidFontSize(13px, 20px, 320px, 1920px, 25px);
        font-size: 20px;
        line-height: 20px;
        color: #C3B9B5;
        transition: 0.3s all;
        &:hover {
            color: $brow;
            transform: scale(11);
        }
        
    }

    &__burger {
        z-index: 10;
        display: none;
        width: 40px;
        height: 35px;
        span {
            position: absolute;
            top: 40px;
            right: 0;
            display: block;
            width: 40px;
            height: 5px;
            background-color: $orange;
            &::after, &::before {
                content: '';
                position: absolute;
                right: 0;
                width: 40px;
                height: 5px;
                background-color: $orange;
            }
            &::before {
                top: -10px;
            }
            &::after {
                bottom: -10px;
            }

        }

    }
    &-block {
        width: 12%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.1);
            .menu-block__select {
                color: $brow;
            }
            .menu-block__icon {
                svg {
                    fill: $brow;
                }
            }

            }
        &__icon {
            margin-top:10px;
            svg {
                transition: 0.2s all;
                fill: $orange;
            }
    
        }
        &__select {
            font-family: 'Futura New';
            font-style: normal;
            font-weight: 700;
            @include fluidFontSize(15px, 20px, 320px, 1920px, 25px);
            text-transform: uppercase;
            line-height: 20px;
            color: $orange;
            position: relative;
    
        }
    }
}
.slider {
    &-counter {
        width: 40px;
        margin-left: 1.56%;
        display: flex;
        flex-direction: column;
        
        &__i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-top: 40px;
            font-family: 'Futura New';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: $brow-light;
            &:last-child {
                margin-right: 0;
            }
        }
        &__i.active {
            border: 2px solid $text;
            border-radius: 50%;
        }
    }

    &__wrapper {
        width: 80.96%;
    }
}

.slider-block {
    position: relative;
    &__content {
        width: 45.23%;
        
    }

    &__title {
        font-family: 'SchoolBook';
        font-style: normal;
        font-weight: 400;
        @include fluidFontSize(30px, 80px, 320px, 1920px, 55px);
        line-height: 110px;
        color: $text;
    }

    &__button {
        margin-top: 50px;
        padding: 1.21em 4.5em;
        background: $orange;
        box-shadow: 0px 4px 20px #FFC59E;
        color: #fff;
        border-radius: 33.5px;
        border: none;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        @include fluidFontSize(15px, 20px, 320px, 1920px, 20px);
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.1);
            background: $brow;
            box-shadow: 0px 4px 20px $brow;
        }
    }

    &__social {
        margin-top: 197px;
        width: 310px;
        display: flex;
        justify-content: space-between;

    }

    &__link {
        display: block;
        width: 40px;
        height: 40px;
        transition: 0.3s all;
        border-radius: 50%;
        box-shadow: 0px 4px 20px #FFC59E;
        svg {
            width: 100%;
            fill: $orange;
            transition: 0.3s all;
        }
        &:hover {
            transform: scale(1.3);
            box-shadow: 0px 4px 20px $brow;
            svg {
                fill: $brow;
                
            }
        }
    }

    &__phone {
        position: absolute;
        z-index: 8;
        right: 10px;
        bottom: 10px;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        @include fluidFontSize(15px, 24px, 320px, 1920px, 24px);
        text-decoration: none;
        color:$brow;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.1);
        }

    }
    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 55.38%;
        img {
            width: 100%;
        }
    }

}
@media (max-width: 1047px) {
    
}