.mobile {
    padding: 23.24vh 11.97% 33.14vh 11.97%;
    background: $orange;
    &__wrapper {
        width: 100%;
    }

    &__content {
        position: relative;
    }

    &__soon {
        font-family: 'Futura New';
        font-size: 30px;
        @include fluidFontSize(18px, 30px, 320px, 1920px, 30px);
        color: #FFFFFF;
    }

    &__title {
        width: 56.57%;
        margin-top: 30px;
        font-family: 'SchoolBook';
        @include fluidFontSize(45px, 80px, 320px, 1920px, 80px);
        line-height: 110px;
        color: #FFFFFF;

    }

    &__markets {
        margin-top: 42px;
        width: 372px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        width: 167px;
        height: 49px;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.1);
        }
        img {
            width: 100%;
        }
    }

    &__image {
        width: 44.69%;
        position: absolute;
        right: 0;
        // bottom: -158px;
        bottom: 0;
        img {
            width: 100%;
        }
    }
}
@media (max-width: 1161px) {
    .mobile__image {
        width: 50%;

    }
}
@media (max-width: 890px) {
    .mobile__title  {
        line-height: 60px;
    }
    .mobile__image {
        right: -10%;
        bottom: 10%;
    }
}
@media (max-width: 750px) {
    .mobile__title  {
        line-height: 60px;
        text-align: center;
        width: 100%;
    }
    .mobile__image {
        position: relative;
        margin: 10px auto 0 auto;
        width: 60%;
        right: -10%;
        bottom: 10%;
    }
    .mobile__markets {
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .mobile__link {
        width: 47%;
    }
}